* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    /*overflow: hidden;*/
    font-family: Inter, serif;
    background: #383838 url("../assets/musicInstrumentsBackground.svg");
    background-size: contain;
}

a {
    color: #2196f3;
    text-decoration: none;
}

a:hover {
    text-decoration: revert;
}